:root{
  --blood: #8B0000;
  --dark: #030707;
  --light: #1a1919;
}
.login-container{
  margin-top: 15%;
}
.login-form-1{
  border-radius: 5px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
  padding: 5%;
  background-color: var(--blood);
  border: solid 1px var(--light);
}
.login-form-1 h3{
  text-align: center;
  color: var(--dark);
}
.login-form-2{
  border-radius: 5px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
  padding: 5%;
  background: var(--dark);
  /* border: solid 1px var(--light); */
}
.login-form-2 h3{
  text-align: center;
  color: var(--blood);;
  ;
}
.login-container form{
  padding: 10%;
}
/* .btnSubmit
{
  width: 50%;
  border-radius: 1rem;
  padding: 1.5%;
  border: none;
  cursor: pointer;
} */
.login-form-1 .btnSubmit, .cita-btn-submit{
  background-color: var(--blood);;
  color: var(--dark);
  border: var(--dark) solid 1px ;
  margin: 4px auto;
}

.login-form-1 .btnSubmit:hover, .cita-btn-submit:hover{
  background-color: var(--dark);
  color: var(--blood);
  border: var(--blood) solid 1px ;
}
.login-form-2 .btnSubmit{
  background-color: var(--dark);
  color: var(--blood);
  border: var(--blood) solid 1px ;
  margin: 4px auto;
}

.login-form-2 .btnSubmit:hover{
  background-color: var(--blood);
  color: var(--dark);
  border: var(--dark) solid 1px ;
  margin: 4px auto;
}

.login-form-2 .ForgetPwd{
  color: var(--dark);
  font-weight: 600;
  text-decoration: none;
}
.login-form-1 .ForgetPwd{
  color: var(--blood);;
  font-weight: 600;
  text-decoration: none;
}